name: Docker Build and Run

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest   # GitHub runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-hello .

      - name: Run Docker container
        run: docker run python-hello
